# Ignore all build output
build/*
# TODO: there has to be somekind of pattern for this
!build/.keep

#!.keep
#!*/

# Ignore source files that can be rebuild/extracted
src/*
!src/initfs
!src/rootfs
!src/filesystem
!src/syslinux.cfg
